<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= recipe.method %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li>
          <%= render ingredient %>
          <%= link_to "Edit", edit_ingredient_path(ingredient) %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
