<p style="color: green"><%= notice %></p>

<% content_for :title, "Ingredients" %>

<h1>Ingredients</h1>

<div id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <p><%= render ingredient %> <%= link_to ingredient.recipe.name, ingredient.recipe %></p>
    <p>
      <%= link_to "View", ingredient %>
    </p>
  <% end %>
</div>

<%= link_to "New ingredient", new_ingredient_path %>
