<p style="color: green"><%= notice %></p>

<p><%= render @ingredient %></p>

<p>
  <strong>Recipe:</strong>
  <%= @ingredient.recipe ? link_to(@ingredient.recipe.name, @ingredient.recipe) : "No recipe assigned" %>
</p>

<div>
  <%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient) %> |
  <%= link_to "Back to ingredients", ingredients_path %>

  <%= button_to "Destroy this ingredient", @ingredient, method: :delete %>
</div>
